:root {
    /* Dark background */
    --bg-color: #2a2c3f;
    /* Slightly lighter background */
    --alt-bg-color: #2d3345;
    /* Accent red color */
    --accent-red: #c85a65;
    /* Accent purple color */
    --accent-purple: #8485c5;
    /* Accent pink color */
    --accent-pink: #c673d5;
    /* Accent green color */
    --accent-green: #56944c;
    /* Accent blue color */
    --accent-blue: #5ab9c9;
    /* Light text color */
    --text-color: #D4D4D4;
    /* Muted text color */
    --muted-text-color: #808080;
    /* Card background color */
    --card-bg-color: #2D2D2D;
}
.bg-color{
    background-color: var(--bg-color) !important;
}
.alt-bg-color {
    background-color: var(--alt-bg-color) !important;
}
.accent-red {
    background-color: var(--accent-red) !important;
}
.accent-purple {
    background-color: var(--accent-purple) !important;
}
.accent-pink {
    background-color: var(--accent-pink) !important;
}
.accent-green {
    background-color: var(--accent-green) !important;
}
.accent-blue {
    background-color: var(--accent-blue) !important;
}
.text-color-primary {
    color: var(--bg-color) !important;
}
.text-color-red {
    color: var(--accent-red) !important;
}
.text-color-purple{
    color: var(--accent-purple) !important;
}
.text-color-pink {
    color: var(--accent-pink) !important;
}
.text-color-green {
    color: var(--accent-green) !important;
}
.text-color-blue {
    color: var(--accent-blue) !important;
}
html {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: auto;
    margin: 15px;
    padding: 0;
    background-color: var(--bg-color) !important;
    color: var(--accent-pink) !important;
}

body {
    margin-bottom: 60px;
    background-color: var(--bg-color) !important;
    color: var(--accent-pink) !important;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar, .navbar-nav, .navbar-brand, .nav-link {    
    background-color: var(--alt-bg-color) !important;
    color: var(--accent-purple) !important;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover {
    color: var(--accent-red);
}

.container-flex {
    flex: 1;
    padding: 15px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters [class^="col-"],
.no-gutters [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
footer {
    border-top: solid 2px var(--accent-blue);
    margin: 0 !important;
    padding: 0 !important;
    height: 40px !important;
    width: 100% !important;
}
.navbar {
    height: 50px !important;
    border-bottom: solid 2px var(--accent-blue);
}

.card {
    display: flex;
    flex-direction: column;
    border: solid 3px var(--accent-blue) !important;
    border-radius: 6px;
}
.card-header {
    border: outset 3px var(--accent-red) !important;
    border-radius: 0px;
    color: var(--accent-pink) !important;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
}
.cart-button {
    width: 100% !important;
}
.badge.badge-price{
    font-size: 18px;
    color: var(--accent-green) !important;    
    background: var(--bg-color) !important;
}
.badge.badge-stock {
    font-size: 18px;
}