@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
	ViewData["Title"] = "Home Page";
	var auth = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
	var admin = HttpContextAccessor.HttpContext.User.IsInRole("Admin");
	var email = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
}
<div class="text-center">
	
	
	
	
</div>