@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-action="SignInWithGoogle" asp-controller="Authentication" class="btn btn-primary">
        <i class="fa-brands fa-google"></i>
        Login with Google
    </a>
</div>