@model List<Game>

@{
	ViewData["Title"] = "ShoppingCart";

}

<h1>ShoppingCart</h1>

	@if (Model == null || Model.Count == 0)
	{
		<h3 class="text-color-purple">Cart is empty</h3>
	}
	else
	{
	<table class="table alt-bg-color text-color-purple">
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
				var price = (Math.Round(((float)item.InitialPrice * item.DiscountPercent), 2));
			<tr>
				<td>@item.Name</td>
				<td>@item.ShortDescription</td>
					<td>Price: @(price == 0 ? "Free" : price + " €")</td>
			<td >
				<form asp-action="RemoveFromCart" method="post">
					<input type="hidden" name="id" value="@item.Id" />
					<button type="submit" class="btn btn-warning cart-button">Remove from cart</button>
				</form>
			</td>
			</tr>
		}	
	</tbody>
</table>
}